
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Environment files
.env
.env.*

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
*.log

# Secrets / local files
*.pem
*.key

